body,
html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
}

section {
    margin-bottom: 10%;
}

a {
    text-decoration: none;
    background-color: coral;
    padding: 14px 16px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
}

.top {
    text-align: center;
    color: white;
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.top h1 {
    font-size: 60px;
}

.top p {
    padding: 10%;
}

.midfirst {
    text-align: center;
    font-size: 25px;
}

.midfirst p {
    color: lightslategray;
    font-size: 20px;
    text-align: center;
    margin: 2%;
}

hr {
    width: 60%;
}

.midsecond {
    display: flex;
    font-weight: 700;
    font-size: 25px;
    color: gray;
    margin: 5% 25%;
    text-align: center;
}

.two {
    padding: 5%;
}

.design {
    color: red;
    background-color: lightgrey;
    border: 2px solid tomato;
    border-radius: 5px;
}

.container {
    display: flex;
}

.third {
    border-radius: 10px;

    margin: 2%;
}

.lightblue {
    background-color: powderblue;
    padding: 5% 2%;
}

.pink {
    background-color: lavenderblush;
    padding: 5% 2%;
}

.papay {
    background-color: papayawhip;
    padding: 5% 2%;
}

.fourth {
    display: flex;
    margin: 5%;
    font-size: 25px;
}

.fourthmid {
    width: 50%;
}

.fourthmid img {
    width: 100%;
    border-radius: 10px;
}

.fourthmid p {
    font-size: 20px;
    color: grey;
}

.fifth {
    display: flex;
    margin: 5%;
    font-size: 25px;
}

.fifthmid {
    width: 50%;
    padding-left: 5%;
}

.fifthmid img {
    width: 100%;
    border-radius: 10px;
}

.fifthmid p {
    font-size: 20px;
    color: grey;
}

.new {
    display: flex;
}

.add {
    width: 50%;
}

.pic {
    background-image: url("images/donation10.jpg");
    background-size: cover;
    margin-left: 2%;
    text-align: center;
}

.text {
    padding: 15px;
    background-color: lightblue;
    text-align: center;
}

.six {
    font-size: 30px;
    text-align: center;
}

.six p {
    font-size: 20px;
    color: grey;
}

form {
    background-color: peachpuff;
    margin: 10% 25%;
    padding: 6%;
    display: flex;
    border-radius: 10px;
}

input {
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: lightgrey;
    padding: 2% 10% 2% 3%;
    font-size: 20px;
}

label {
    font-size: 20px;
    background-color: tomato;
    padding: 13px 16px;
    border-radius: 5px;
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    padding: 4%;
}

footer h1 {
    color: coral;
    font-style: italic;
}

footer p {
    color: white;
}